backend certbot {
    .host = "{{ certbot_address|default(varnish_certbot_address) }}";
    .port = "{{ certbot_port|default(varnish_certbot_port) }}";
}

sub vcl_recv {
    if (req.url ~ "^/\.well-known/acme-challenge/") {
        set req.backend_hint = certbot;
        return(pipe);
    }
}

sub vcl_pipe {
    if (req.backend_hint == certbot) {
        set req.http.Connection = "close";
        return(pipe);
    }
}